{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="row text-center">
        <h1>Welcome to the puzzle!</h1>
    </div>
    <p>Here's the first clue:
    <br>
    KDY4LCA0NTYp==
    </p>
    <div class="row text-center">
        <p>
            <img src="https://s3-us-west-2.amazonaws.com/static.menlohacks/puzzle_img_1.png">
        </p>
    </div>
    <script>
    console.log("Wehrmacht - WALZENLAGE 1, 2, 4 - UMKEHRWALZE B - " +
        "GRUNDSTELLUNG A, C, D - RINGSTELLUNG A, B, D - STECKERVERBINDUNGEN A-B, C-D");
    </script>


{% endblock %}